@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme{
    --color-background: #e7d7b6;
    --color-primary: #ff6900;
    --color-secondary: #ff8904;
    --color-placeholder: #ffb86a;
    --color-translation: #62748e;
}